<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteMovie()">
        <ion-icon name="trash"></ion-icon>    
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="movie.img"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{movie.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="movie.comments && movie.comments.length>0; else noComments">
          <ion-item *ngFor="let comment of movie.comments">
            {{comment}}
          </ion-item>
        </ion-list>
       
        <ng-template #noComments>
          <ion-text>
            <p class="ion-text-center">No comments yet.</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
