<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let photo of photos">
      <img [src]="photo.thumbnailUrl">
      <ion-card-content>
        <p>{{photo.title}}</p>
        <p>{{photo.albumId}}: <a [href]="photo.url" target="_black">{{photo.url}}</a></p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
